@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap') 

@font-face {
    font-family: Uchen-Regular;
    src: url("Fonts/Uchen-Regular.ttf") format('truetypef');
    font-style: normal ;
    font-variant: normal;
    font-weight: normal ;
}

/* @ font-face needs media query would rather embed these 4 google fonts: Roboto, Monsterrat, Lato, Open Sans*/

.TAOTLargeText {
    font-size: 25px;
}

.TAOTMediumText {
    font-size: 15px;
}

.TAOTSmallText {
    font-size: 10px;
}

.TAOTCenterHorizontally {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.TAOTCenterVertically {
    margin: auto;
    height: 50%;
    padding: 10px;
}

.TAOTCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.TAOTCenterDiv {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.TAOTPaddingFull {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.TAOTMediumDivHeight {
    height: 150px;
}

.TAOTSideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.TAOTSideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.TAOTSideNav a:hover {
    color: #f1f1f1;
}

.TAOTSideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .TAOTSideNav {
        padding-top: 15px;
    }
    .TAOTSideNav a {
        font-size: 18px;
    }
}