{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "printWidth": 120,
    "useTabs": false,
    "arrowParens": "avoid"
}
